<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="challenger">
	<insert id="insert" parameterType="challengerDto">
		INSERT INTO dadoc_challenger
		(num, id, challengeTitle, period, stamp, success)
		VALUES(challenger_seq.NEXTVAL, #{id}, #{challengeTitle}, #{period}, 0, 'false')
	</insert>
	
	<select id="getChallengers" parameterType="string" resultType="int">
		SELECT NVL(count(1),0) as countnum
			FROM dadoc_challenger
		WHERE challengeTitle = #{title}		
	</select>
	
	<select id="getMyChallenge" parameterType="string" resultType="challengerDto">
		SELECT dadoc_challenger.num, id, challengeTitle, dadoc_challenger.period, startDate, endDate
		FROM dadoc_challenger
		INNER JOIN dadoc_challenges
		ON dadoc_challenger.challengeTitle=dadoc_challenges.title
		WHERE id =#{id}
	</select>
</mapper>