<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="photoShot">
	<insert id="insert" parameterType="photoShotDto">
		INSERT INTO dadoc_photoshot
		(num, id, challengeTitle, imagePath, period, regdate)
		VALUES(photoshot_seq.NEXTVAL, #{id}, #{challengeTitle}, #{imagePath}, #{period}, sysdate)
	</insert>
	
	<select id="getPhotoShot" parameterType="PhotoShotDto" resultType="photoShotDto">
			SELECT result1.*, ROWNUM as shotNum
				FROM
			(SELECT imagePath, num, period, regdate
			FROM dadoc_photoShot
			WHERE challengeTitle = #{challengeTitle} AND id =#{id}) result1
	</select>
</mapper>