<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="photoShot">
	<insert id="insert" parameterType="photoShotDto">
		INSERT INTO dadoc_photoshot
		(num, id, challengeTitle, imagePath, period, regdate)
		VALUES(photoshot_seq.NEXTVAL, #{id}, #{challengeTitle}, #{imagePath}, #{period}, TO_CHAR(sysdate,'YYYY-MM-DD'))
	</insert>
	
	<select id="getPhotoShot" parameterType="string" resultType="photoShotDto">
			SELECT imagePath, num, period, regdate, challengeTitle
			FROM dadoc_photoShot
			WHERE id =#{id}
	</select>
	
	<select id="getPeriod" parameterType="photoShotDto" resultType="int">
			SELECT NVL(count(1),0)
			FROM dadoc_photoShot
			WHERE id=#{id} and challengeTitle=#{challengeTitle}
	</select>
</mapper>