<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<sql id="allColumn">
		id, pwd, name, nickname, sex, birth, profile, regdate, pwd_question, pwd_answer, tos, tel, email
	</sql>

	<!-- 비밀번호 분실시 선택할 질문 list return -->
	<select id="getPwdQuestions" resultType="usersPwdQuestionDto">
		SELECT num, question
		FROM users_pwd_question
	</select>
	<!-- id 가 존재하는지 검사 -->
	<select id="isIdExist" parameterType="string" resultType="string">
		SELECT id
		FROM dadoc_users
		WHERE id = #{inputId}
	</select>
	<!-- nickname 이 존재하는지 검사 -->
	<select id="isNickExist" parameterType="string" resultType="string">
		SELECT nickname
		FROM dadoc_users
		WHERE nickname = #{inputNick}
	</select>
	<!-- 사용자 정보 insert -->
	<insert id="insert" parameterType="usersDto">
		INSERT INTO dadoc_users
		(<include refid="allColumn"/>)
		VALUES (#{id}, #{pwd}, #{name}, #{nickname}, #{sex}, #{birth}, #{profile}, SYSDATE, #{pwd_question}, #{pwd_answer}, #{tos}, #{tel, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR})
	</insert>
	<!-- id 에 해당하는 사용자 정보를 가져옴 -->
	<select id="getData" parameterType="string" resultType="usersDto">
		SELECT <include refid="allColumn"/>
		FROM dadoc_users
		WHERE id = #{id}
	</select>
	<!-- id 에 해당하는 pwd_question 의 string 을 가져옴 -->
	<select id="getQuestion" parameterType="string" resultType="string">
		SELECT question
		FROM users_pwd_question
		WHERE num = (SELECT pwd_question
				FROM dadoc_users
				WHERE id = #{ id })
	</select>
	<!--  -->
	<select id="getAnswer" parameterType="string" resultType="string">
		SELECT pwd_answer
		FROM dadoc_users
		WHERE id = #{ id }
	</select>
	<!--  -->
	<update id="updatePwd" parameterType="usersDto">
		UPDATE dadoc_users
		SET pwd = #{ pwd }
		WHERE id = #{ id }
	</update>
</mapper>
